{% extends 'base.html' %}
{% block body %}
    <h2>Categories</h2>
    <ul>
        {% for category in subscriptions if category.children %}
            <li>
                <a href="{{ url_for('.category',
                            category_label=category.label) }}">
                    {{ category.label }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <h2><a href="{{ url_for('.feeds') }}">Feeds</a></h2>
    <ul>
        {% for feed in subscriptions.recursive_subscriptions %}
            <li>
                <a href="{{ url_for('.entries', feed_id=feed.feed_id) }}">
                    {{ feed.label }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
