<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<script>
			URLS = {{ {'feeds': url_for('feeds', _external=True), 'entries': url_for('category_entries', _external=True)}|tojson|safe }};
			THEMES = {{ {'bright': url_for('static', filename='css/theme_bright.css'), 'dark': url_for('static', filename='css/theme_dark.css')}|tojson|safe }};
		</script>
		<script src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}" type="text/javascript" charset="utf-8"></script>
		<script src="{{ url_for('static', filename='js/master.js') }}" type="text/javascript" charset="utf-8"></script>
		<script src="{{ url_for('static', filename='js/prefixfree.min.js') }}" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/animation.css') }}" type="text/css" media="all">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}" type="text/css" media="all">
		<style type="text/css" class="theme">
			@import url('{{ url_for('static', filename='css/theme_bright.css') }}');
		</style>
		<title>Earth Reader</title>
	</head>
	<body>
		<header class="site-header">
			<span role="button" class="off-canvas-menu"></span>
			<h1>Earth Reader</h1>
			<span role="button" class="off-canvas-side"></span>
		</header>
		<div class="wrapper">
			<nav role="navigation">
				<ul class="persistent">
					<li role="button" data-filter="all">All</li>
					<li role="button" data-filter="starred">Starred</li>
					<li role="button" data-filter="unread">Unread</li>
					<li role="button" class="header closed">Add Feed/Category</li>
					<div class="fold">
						<div class="form">
							<h2>Add Feed</h2>
							<form action="/feeds/" data-action="addFeed" data-after="makeFeedList">
								<input type="url" name="url" placeholder="URL"/>
								<input type="submit" value="Add"/>
							</form>
						</div>
						<div class="form">
							<h2>Add Category</h2>
							<form action="/" data-action="addCategory" data-after="makeFeedList">
								<input type="text" name="title" placeholder="title"/>
								<input type="submit" value="Add"/>
							</form>
						</div>
					</div>
				</ul>
				<header class="allfeed header" role="button">All</header>
				<ul class="feedlist folder">
					<li> <h1>Loading...</h1> </li>
				</ul>
			</nav>
			<section role="main">
				<h1>Loading...</h1>
			</section>
			<section role="complementary">
				<ul>
					<li>Setting</li>
					<li role="button" data-action="remove-this">Remove</li>
					<li>Star</li>
					<li>Mark as unread</li>
					<li role="button" data-action="change-theme" data-theme-name="dark">Dark theme</li>
					<li role="button" data-action="change-theme" data-theme-name="bright">Bright theme</li>
				</ul>
			</section>
		</div>
	</body>
</html>
