<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<script src="{{ url_for('static', filename='js/master.js') }}" type="text/javascript" charset="utf-8"></script>
		<script src="{{ url_for('static', filename='js/prefixfree.min.js') }}" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/animation.css') }}" type="text/css" media="all">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}" type="text/css" media="all">
		<title>Earth Reader</title>
	</head>
	<body>
		<header class="site-header">
			<span class="off-canvas-menu"></span>
			<h1>Earth Reader</h1>
			<span class="off-canvas-side"></span>
		</header>
		<div class="wrapper">
			<nav role="navigation">
				<ul class="persistent">
					<li role="button" data-action="all">All</li>
					<li role="button" data-action="starred">Starred</li>
					<li role="button" data-action="unread">Unread</li>
					<li role="button" class="header closed">Add Feed/Category</li>
					<li class="fold">
						<div class="form">
							<h2>Add Feed</h2>
							<form action="/feeds/" data-action="addFeed" data-after="makeFeedList">
								<input type="url" name="url" placeholder="URL"/>
								<input type="submit" value="Add"/>
							</form>
						</div>
						<div class="form">
							<h2>Add Category</h2>
							<form action="/" data-action="addCategory" data-after="makeFeedList">
								<input type="text" name="title" placeholder="title"/>
								<input type="submit" value="Add"/>
							</form>
						</div>
					</li>
				</ul>
				<ul class="feedlist">
					<li class="header">Category1</li>
					<li class="fold">
						<ul>
							<li class="header">Category2</li>
							<li class="fold">
								<ul>
									<li>Feed1</li>
									<li>Feed2</li>
								</ul>
							</li>
							<li>Feed1</li>
							<li>Feed2</li>
						</ul>
					</li>
					<li class="header">Category1</li>
					<li class="fold">
						<ul>
							<li class="header">Category2</li>
							<li class="fold">
								<ul>
									<li>Feed1</li>
									<li>Feed2</li>
								</ul>
							</li>
							<li>Feed1</li>
							<li>Feed2</li>
						</ul>
					</li>
					<li>Feed3</li>
					<li>Feed4</li>
				</ul>
			</nav>
			<section role="main">
				<header>
					<h2>All</h2>
				</header>
				<article>
					<div class="entry-title">Entry1</div>
				</article>
				<article>
					<div class="entry-title">Entry2</div>
				</article>
				<article>
					<div class="entry-title opened">Entry3</div>
					<div class="entry-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis rhoncus leo, quis vehicula libero facilisis placerat. Morbi ac massa tempus, ultrices odio dapibus, tempor est. Ut tempus metus magna, nec bibendum velit viverra quis. Nam in eros pharetra, tempus eros ut, posuere lorem. Duis suscipit interdum nulla sit amet varius. Curabitur in metus mi. Quisque elementum sit amet ligula at sodales. Donec eleifend adipiscing nunc in posuere. Aenean vel pharetra libero, at facilisis libero. Praesent ut leo eu felis convallis volutpat. Vestibulum blandit ac nisi non tincidunt. Etiam aliquet condimentum nisi eu vulputate. Ut in arcu felis. Proin at purus mattis, iaculis libero vitae, aliquet felis.</p>
						<p>Pellentesque porttitor, ligula eget venenatis pellentesque, diam quam euismod sapien, at auctor neque urna ac sem. Cras quis volutpat odio. Nunc fermentum odio ut tellus placerat suscipit. Maecenas feugiat sem in sapien pretium, non mattis purus dignissim. Phasellus molestie quam vitae mi lobortis, vel condimentum odio volutpat. Integer vehicula placerat diam, in posuere urna congue a. Suspendisse potenti. Aliquam erat volutpat. Phasellus pharetra, diam sed tristique ornare, velit felis varius dolor, nec sodales quam eros cursus orci. Nam id augue porta, vestibulum quam vel, luctus erat.</p>
					</div>
				</article>
			</section>
			<section role="complementary">
				<ul>
					<li>Setting</li>
					<li>Star</li>
					<li>Mark as unread</li>
				</ul>
			</section>
		</div>
	</body>
</html>
