body {
  background: black;
  color: white; }

.site-header {
  background: #252423;
  color: #8b8685; }

[role=navigation], [role=complementary] {
  background: #2a2928; }

[role=main] {
  background: #313004; }

.form {
  background: rgba(0, 50, 145, 0.1); }

[role=navigation] input[type=submit], [role=navigation] input[type=button], [role=navigation] button {
  background: #8fb6dc; }

[role=naigation] .header, [role=complementary] .header {
  background: #f5f5ff; }

[role=navigation] a {
  color: white; }

[role=navigation] .current {
  background: #2b493f; }

[role=main] article .entry-title {
  background: #2b2b2b; }

[role=main] article.current .entry-title {
  background: #2b493f; }

[role=main] article .entry-content {
  background: #141414; }

@media all and (min-width: 800px) {
  [role=navigation] li:not(.folder):hover, [role=navigation] .header:hover {
    background: #3c463c; }
  [role=main] article .entry-title:hover {
    background: #41414b; } }
